@import '../variables';

.dashboard-component {
    @include component();
}

.food-trucks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    height: 753px;
    width: 475px;
    margin: 50px 50px;
    // margin-left: 170px;
}

.food-truck-bubble {
    box-sizing: border-box;
    border: 3px solid $darkerBlue;
    background: $white;
    border-radius: $circle;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 3px;
    padding-left: 5px;
}