@import '../variables';

.dashboard-component {
    @include component();
    @include flexCenter();
}

.food-trucks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 753px;
    width: 475px;
}

.food-truck-bubble {
    @include bubble();
}