@import '../variables';

.sidenav {
    height: 100%;
    width: 8%;
    min-width: 125px;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    background: $yellow;
    overflow-x: hidden;
    h3 {
        color: $orange;
    }
}

.nav-links {
    @include flexCenter();
    margin-top: 50px;
    #link {
        margin-top: 15px;
        color: black; 
    }

    img {
        height: 50px;
        width: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

#logout-btn {
    position: absolute;
    bottom: 50px;
}

//-----------------------------------------------media queries--------------------------------------------//
@media (max-width: $phone) {
    .sidenav {
        height: 100%;
    }
 }
 
 @media (min-width: $phone) and (max-width: $tablet) {
     .sidenav {
         height: 100%;
     }
 }
 
 @media (min-width: $tablet) and (max-width: $desktop) {
     .sidenav {
         height: 100%;
     }
 }