@import '../variables';

.profile-component {
    @include component();
    @include flexCenter();
    width: 75%;
    .text {
        width: 45%;
        text-align: center;
    }
    button {
        margin-bottom: 25px;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    max-width: 50%;
}

.change {
    text-align: center;
    background-color: $lightBlue;
}

//-----------------------------------------------media queries--------------------------------------------//
@media (max-width: $phone) {
   .text {
       font-size: 15px;
   }
   .sidenav {
       height: 100%;
   }
   #change, #delete {
    font-size: 15px;
}
}

@media (min-width: $phone) and (max-width: $tablet) {
    .text {
        font-size: 15px;
    }
    .sidenav {
        height: 100%;
    }
    #change, #delete {
        font-size: 15px;
    }
}

@media (min-width: $tablet) and (max-width: $desktop) {
    .sidenav {
        height: 100%;
    }
    #change, #delete {
        font-size: 15px;
    }
}