@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);

// color variables
$blue: #D9EDF7;
$lightBlue: #EAF4FA;
$darkerBlue: #005261;
$brown: #8A3E00;
$orange: #FF5900;
$lightOrange: #FAD1BB;
$lightGray: rgb(238, 238, 238);
$white: #FFFFFF;
$yellow: #FFF7D6;

//shape variables
$circle: 50%;
$oval: 19.5px;

//breakpoints -- max widths
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;  


//mixins
@mixin btnStyle ($bgColor) {
    background-color: $bgColor;
    box-sizing: border-box;
    border: 3px solid $orange;
    border-radius: $oval;
    color: $orange;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Krona One', sans-serif;
    font-size: 16px;
    margin-right: 10px;
    &:hover {
        background-color: $lightOrange;
    }
}

@mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin component {
    width: 50%;
   margin-left: 170px;
}

@mixin bubble {
    box-sizing: border-box;
    border: 3px solid $darkerBlue;
    background: $white;
    border-radius: $circle;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: $lightGray;
    }
}




