@import "./components/auth";
@import "./components/about";
@import "./components/nav";
@import "./components/dash";
@import "./components/menu";
@import "./components/cart";
@import "./components/orders";
@import './components/profile';
@import './components//history';
@import "./variables";

.App {
    text-align: center;
    button {
        @include btnStyle($white);
    }
}

#link {
    text-decoration: none;
    color: $darkerBlue;
}




