@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
.auth-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 100vh;
  width: 100vw;
}

.auth-page h1 {
  color: #FF5900;
  font-size: 50px;
}

.auth-page #link {
  margin-top: 15px;
}

.info-bubbles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF7D6;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 3px solid #8A3E00;
  color: #8A3E00;
  margin: 10px 30px;
}

.auth-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 280px;
  width: 550px;
  background-color: #EAF4FA;
  color: #005261;
  font-size: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #005261;
  border-radius: 130px;
}

.auth-box input {
  margin-bottom: 25px;
  margin-left: 8px;
  border: 3px solid #005261;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 19.5px;
  height: 40px;
}

@media (max-width: 480px) {
  .auth-page {
    height: 100%;
    width: 100%;
  }
  .auth-page h1 {
    font-size: 25px;
  }
  .info-bubble {
    height: 100px;
    width: 100px;
    font-size: 10px;
  }
  .auth-box {
    height: 175px;
    width: 400px;
    font-size: 15px;
    padding-bottom: 10px;
  }
  .auth-box input {
    border: 3px solid #005261;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 19.5px;
    height: 40px;
  }
  #register, #login {
    height: 40px;
    width: 40x;
    font-size: 10px;
    padding-bottom: 5px;
  }
  #link {
    font-size: 10px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .auth-page {
    height: 100%;
    width: 100%;
  }
  .auth-page h1 {
    font-size: 35px;
  }
  .info-bubble {
    height: 150px;
    width: 150px;
    font-size: 12px;
  }
  .auth-box {
    height: 225px;
    width: 400px;
    font-size: 20px;
    padding-bottom: 10px;
  }
  .auth-box input {
    border: 3px solid #005261;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 19.5px;
    height: 40px;
  }
  #register, #login {
    height: 45px;
    width: 45x;
    font-size: 15px;
  }
  #link {
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .auth-page {
    height: 100%;
    width: 100%;
  }
  .auth-page h1 {
    font-size: 40px;
  }
  .info-bubble {
    height: 150px;
    width: 150px;
    font-size: 12px;
  }
  .auth-box {
    height: 225px;
    width: 450px;
    font-size: 20px;
    padding-bottom: 10px;
  }
  .auth-box input {
    border: 3px solid #005261;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 19.5px;
    height: 40px;
  }
  #register, #login {
    height: 45px;
    width: 45x;
    font-size: 15px;
  }
  #link {
    font-size: 15px;
  }
}

.component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  width: 60%;
  margin: 80px 275px;
  background-color: #FFFFFF;
}

.component h1 {
  color: #FF5900;
  font-size: 28px;
}

.component span {
  font-size: 20px;
  font-weight: 600;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .items-bubble {
  height: 125px;
  width: 525px;
  background-color: #eeeeee;
}

@media (max-width: 480px) {
  .component {
    width: 100%;
    margin: 70px 2px;
    background-color: #FFFFFF;
  }
  .component h1 {
    font-size: 25px;
  }
  .component span {
    font-size: 15px;
  }
  .about .items-bubble {
    height: 100px;
    width: 450px;
    padding: 5px 5px;
  }
  .about p {
    font-size: 12px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .component {
    width: 80%;
    margin: 40px 50px;
    background-color: #FFFFFF;
  }
  .component h1 {
    font-size: 20px;
  }
  .component span {
    font-size: 15px;
  }
  .about .items-bubble {
    height: 100px;
    width: 375px;
    padding: 5px 5px;
  }
  .about p {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .component {
    width: 70%;
    margin: 50px 125px;
    background-color: #FFFFFF;
  }
  .component h1 {
    font-size: 23px;
  }
  .component span {
    font-size: 18px;
  }
  .about .items-bubble {
    height: 100px;
    width: 465px;
    padding: 5px 5px;
  }
  .about p {
    font-size: 13px;
  }
}

.sidenav {
  height: 100%;
  width: 8%;
  min-width: 125px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #FFF7D6;
  overflow-x: hidden;
}

.sidenav h3 {
  color: #FF5900;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.nav-links #link {
  margin-top: 15px;
  color: black;
}

.nav-links img {
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#logout-btn {
  position: absolute;
  bottom: 50px;
}

@media (max-width: 480px) {
  .sidenav {
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .sidenav {
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sidenav {
    height: 100%;
  }
}

.dashboard-component {
  width: 50%;
  margin-left: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food-trucks-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 753px;
  width: 475px;
}

.food-truck-bubble {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #005261;
  background: whitesmoke;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.food-truck-bubble:hover {
  background-color: #FFF7D6;
}

.food-truck-bubble #link {
  color: #005261;
}

.menu-component {
  width: 50%;
  margin-left: 170px;
}

.menu-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-items button {
  height: 60px;
  width: 100px;
  margin-top: 35px;
}

.items-bubble {
  height: 100px;
  width: 380px;
  left: 543px;
  top: 175px;
  background: whitesmoke;
  border: 3px solid #005261;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 52px;
  margin: 15px 15px;
  padding-top: 10px;
  color: #005261;
}

.sidenav-right {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: #D9EDF7;
  overflow-x: hidden;
}

.sidenav-right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sidenav-right-header .close-cart-btn {
  height: 40px;
  width: 50px;
  margin-top: 10px;
}

.cart-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-contents .items-bubble {
  background-color: #FFFFFF;
}

.cart-contents .total-display {
  margin: 20px 20px;
}

.cart-contents #save-order {
  margin-top: 20px;
}

.cart-contents #create-order {
  margin-bottom: 20px;
}

.quant-remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quant-remove p {
  margin-right: 10px;
}

#stripe-btn {
  background-color: #D9EDF7;
  border: none;
}

.mark-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#check-mark {
  background-color: #FFF7D6;
  height: 45px;
  width: 45px;
  margin-top: 15px;
}

.orders-component {
  width: 50%;
  margin-left: 170px;
  width: 50%;
}

.orders-component h1 {
  text-align: left;
  margin-left: 300px;
}

.orders-component h3 {
  color: #FF5900;
}

.orders-component .saved_component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .order_box {
  min-width: 50%;
  margin-right: 15px;
}

.content .items-bubble {
  background-color: #FFFFFF;
}

.order-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #FF5900;
  margin: 20px 20px;
  background-color: #EAF4FA;
  border-radius: 15px;
}

.item-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-quantity .menu-name-container {
  margin-right: 10px;
  margin-left: 8px;
  width: 20%;
}

.item-quantity button {
  max-width: 50px;
  max-height: 50px;
  margin: 20px 20px;
  font-size: 15px;
}

.item-quantity #quant-display {
  background-color: #FFF7D6;
}

.saved-order-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.saved-order-btns p {
  margin-right: 15px;
}

.profile-component {
  width: 50%;
  margin-left: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}

.profile-component .text {
  width: 45%;
  text-align: center;
}

.profile-component button {
  margin-bottom: 25px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50%;
}

.change {
  text-align: center;
  background-color: #EAF4FA;
}

@media (max-width: 480px) {
  .text {
    font-size: 15px;
  }
  .sidenav {
    height: 100%;
  }
  #change, #delete {
    font-size: 15px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .text {
    font-size: 15px;
  }
  .sidenav {
    height: 100%;
  }
  #change, #delete {
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sidenav {
    height: 100%;
  }
  #change, #delete {
    font-size: 15px;
  }
}

.history-component {
  width: 50%;
  margin-left: 170px;
  width: 100%;
}

.history-component h1 {
  text-align: left;
  margin-left: 300px;
}

.history-component h3 {
  color: #FF5900;
}

.history-component .saved_component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App {
  text-align: center;
}

.App button {
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #FF5900;
  border-radius: 19.5px;
  color: #FF5900;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Krona One', sans-serif;
  font-size: 16px;
  margin-right: 10px;
}

.App button:hover {
  background-color: #FAD1BB;
}

#link {
  text-decoration: none;
  color: #005261;
}
/*# sourceMappingURL=App.css.map */