@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
.auth-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  background-color: #eeeeee;
  height: 100vh;
}

.auth-page h1 {
  color: #FF5900;
  font-size: 50px;
}

.info-bubbles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF7D6;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 3px solid #8A3E00;
  color: #8A3E00;
  margin: 10px 30px;
}

.auth-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 280px;
  width: 550px;
  background-color: #D9EDF7;
  color: #005261;
  font-size: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #005261;
  border-radius: 130px;
}

.auth-box input {
  margin-bottom: 25px;
  margin-left: 8px;
  border: 3px solid #005261;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 19.5px;
  height: 40px;
}

.sidenav {
  height: 100vh;
  width: 125px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #FFF7D6;
  overflow-x: hidden;
}

.sidenav h3 {
  color: #FF5900;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.nav-links #link {
  margin-top: 15px;
  color: black;
}

.nav-links img {
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#logout-btn {
  position: absolute;
  bottom: 50px;
}

.dashboard-component {
  height: 100%;
  position: absolute;
  width: 50%;
  background-color: #D9EDF7;
  margin-left: 170px;
}

.food-trucks-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 753px;
  width: 475px;
  margin-left: 170px;
}

.food-truck-bubble {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #005261;
  background: #FFFFFF;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5px;
}

.menu-component {
  height: 100%;
  position: absolute;
  width: 50%;
  background-color: #D9EDF7;
  margin-left: 170px;
}

.menu-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-items button {
  height: 60px;
  width: 100px;
  margin-top: 35px;
}

.items-bubble {
  height: 100px;
  width: 380px;
  left: 543px;
  top: 175px;
  background: #FFFFFF;
  border: 3px solid #005261;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 52px;
  margin: 15px 15px;
  padding-top: 10px;
  color: #005261;
}

.sidenav-right {
  height: 100vh;
  width: 450px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: #FFF7D6;
  overflow-x: hidden;
}

.sidenav-right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sidenav-right-header .close-cart-btn {
  height: 40px;
  width: 50px;
  margin-top: 10px;
}

.cart-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-contents input {
  height: 50px;
  width: 50%;
  margin-bottom: 25px;
}

.cart-contents .total-display {
  margin: 20px 20px;
}

.cart-contents #save-order {
  margin-top: 20px;
}

.cart-contents #create-order {
  margin-bottom: 20px;
}

.quant-remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quant-remove p {
  margin-right: 10px;
}

#stripe-btn {
  background-color: #FFF7D6;
  border: none;
}

.mark-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#check-mark {
  background-color: #FFF7D6;
  height: 45px;
  width: 45px;
  margin-top: 15px;
}

.orders-component {
  height: 100%;
  position: absolute;
  width: 50%;
  background-color: #D9EDF7;
  margin-left: 170px;
}

.profile-component {
  height: 100%;
  position: absolute;
  width: 50%;
  background-color: #D9EDF7;
  margin-left: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  text-align: left;
}

.profile-component .text {
  width: 45%;
  text-align: center;
}

.profile-component button {
  margin-bottom: 25px;
}

.change {
  margin-left: 200px;
  text-align: center;
  background-color: #eeeeee;
}

.App {
  height: 100vh;
  width: 100%;
  margin: 0;
  text-align: center;
  vertical-align: baseline;
  border: 0;
  background-color: #D9EDF7;
}

.App button {
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #FF5900;
  border-radius: 19.5px;
  color: #FF5900;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Krona One', sans-serif;
  font-size: 16px;
  margin-right: 10px;
}

#link {
  text-decoration: none;
  color: #005261;
}
/*# sourceMappingURL=App.css.map */