/* App.js */
.App {
    height: 100vh;
    width: 100%;
    margin: 0;
    text-align: center;
    vertical-align: baseline;
    border: 0;
    
}

/* Auth.js */

/* Nav.js */
.sidenav {
    height: 100vh;
    width: 125px;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    background: #FFF7D6;
    overflow-x: hidden;

}

/* Dash.js */
.dashboard-component {
    height: 100vh;
    background: #D9EDF7;
    position: absolute;
    margin-left: 125px;
    width: 100vw;
    top: 0px;
}

.header-text {
    width: 50%;
    text-align: center;
}

.food-trucks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    width: 1000px;
}

.food-truck-bubble {
    box-sizing: border-box;
    border: 3px solid #005261;
    background: #FFFFFF;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
}

/* Menu.js */

.menu-component {
    height: 100vh;
    background: #D9EDF7;
    position: absolute;
    margin-left: 125px;
    width: 100vw;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuItems-component {

}

.items-bubble {
    height: 100px;
    width: 372px;
    left: 543px;
    top: 175px;
    background: #FFFFFF;
    border: 3px solid #005261;
    box-sizing: border-box;
    border-radius: 52px;
    margin: 15px 15px;
}

/* Cart.js */
.sidenav-right {
    height: 100vh;
    width: 450px;
    position: fixed;
    z-index: 1;
    top: 0;
    right:0;
    background: #FFF7D6;
    overflow-x: hidden;
}

.sidenav-right-header {
    display: flex;
    justify-content: space-between;
}

.cart-icon {
    height: 50px;
    width: 50px;
}

.quant-remove {
    display: flex;
    justify-content: center;
}

/* Pay.js */
.pay-component {
    height: 100vh;
    background: #D9EDF7;
    position: absolute;
    margin-left: 125px;
    width: 100vw;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

